treechildren::-moz-tree-cell-text(url_category) {
    font-weight: bold;
}

treechildren::-moz-tree-cell-text(special_data)
{
    font-style: italic;
}

treechildren::-moz-tree-cell-text(url_regexp) {
    font-weight: bold;
}

#searchButton {
    list-style-image: url("chrome://internote/skin/closesearch.png");
    -moz-image-region: rect(0 32px 16px 16px);
}

#searchButton:hover {
    -moz-image-region: rect(0 16px 16px 0);
}

#searchButton:active {
    -moz-image-region: rect(0 48px 16px 32px);
}