radio[pane] {
    list-style-image: url("chrome://internote/skin/prefspaneicons.png");
}

radio[pane=internoteGeneralPane] {
    -moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane=internoteGeneralPane]:hover, radio[pane=internoteGeneralPane][selected="true"]  {
    -moz-image-region: rect(32px, 32px, 64px, 0px)
}

radio[pane=internoteAppearancePane] {
    -moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane=internoteAppearancePane]:hover, radio[pane=internoteAppearancePane][selected="true"]  {
    -moz-image-region: rect(32px, 64px, 64px, 32px)
}

